@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

 .title {
   font-family: 'Calistoga', cursive;
 }

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.full-w {
  width : 100% ;
}

.full-h {
  height:  100% ;
}

.blueB { border-left: 4px solid #3f51b5 ; }
