<div class="bg-light full-h full-w" >
<mat-toolbar class="mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <mat-icon matPrefix class="m-2" color="white" > menu_book </mat-icon>
    <h1 class="title"> BookStore </h1>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-divider class="mx-5" ></mat-divider>
<p class="my-3 font-weight-lighter text-muted full-w text-center"> 2019 &copy; - Made with <mat-icon matPrefix class="m-1 icon" color="warn" > favorite </mat-icon>Angular </p>
</div>
