<div class="container  p-5"  id="container">
	<div class="form-container">
		<form form [formGroup]="BookForm" (ngSubmit)="onSubmit()">
			<h5>Custom Book</h5>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Title :"  id="title" required  name="title" formControlName="title" >
			</mat-form-field>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Subtitle :"  id="subtitle" required  name="subtitle" formControlName="subtitle">
			</mat-form-field>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Author :"  id="author" required  name="author" formControlName="author" >
			</mat-form-field>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Poster URL :"  id="poster" required  name="poster" formControlName="poster">
			</mat-form-field>
			<mat-form-field class="full-w"  >
    			<textarea matInput type="text"  placeholder="Description :"  id="description" required  name="description" formControlName="description"></textarea>
  		</mat-form-field>
			<div class="d-flex full-w ">
			<mat-form-field class="pr-1" style="width:50%">
  			<input matInput type="text" [matDatepicker]="picker" placeholder="Publishing date : " id="publishedDate" required  name="publishedDate" formControlName="publishedDate">
			  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  			<mat-datepicker touchUi #picker></mat-datepicker>
			</mat-form-field>
			<mat-form-field class="pl-1" style="width:50%" >
	 		<input matInput type="number" placeholder="Pages :"  id="pageCount" required  name="pageCount" formControlName="pageCount">
			</mat-form-field>
			</div>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Publisher :"  id="publisher" required  name="publisher" formControlName="publisher">
			</mat-form-field>

			<div class="d-flex full-w ">
				<mat-form-field class="px-1" style="width:50%"  >
				<mat-icon matPrefix class="mx-3" style="font-size : 18px " color="primary" > attach_money </mat-icon>
				<input matInput  type="number" placeholder="Price :"  id="price" required  name="price" formControlName="price">
				</mat-form-field>
				<mat-form-field class="px-1" style="width:50%" >
				<mat-icon matPrefix class="mx-3" style="font-size : 18px " color="primary"> shopping_cart </mat-icon>
				<input matInput type="number" placeholder="Quantity :"  id="amount" required  name="amount" formControlName="amount">
				</mat-form-field>
				</div>
				<div class="list-group list-group-horizontal">
			<button mat-button mat-raised-button type="submit" class="m-2" color="accent"> <mat-icon> post_add </mat-icon> Modify </button> </div>
		</form>
	</div>
</div>
