<div class="container" [ngClass]="{'right-panel-active': api }" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
      <mat-form-field  class="full-w"  >
        <mat-label> Enter your username </mat-label>
        <input matInput (focus)="error = false " type="text" placeholder="Username">
      </mat-form-field>
      <mat-form-field  class="full-w"  >
        <mat-label> Enter your username </mat-label>
        <input matInput (focus)="error = false " type="text" placeholder="Username">
      </mat-form-field>
      <mat-form-field  class="full-w"  >
        <mat-label> Enter your username </mat-label>
        <input matInput (focus)="error = false " type="text" placeholder="Username">
      </mat-form-field>
      <button mat-button mat-raised-button (click)="api = !api" class="m-2" color="primary"> <mat-icon> add_box </mat-icon> Sign Up </button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h5>Google Book</h5>
			<mat-form-field class="full-w" >
	 		<input matInput placeholder="Title :" (keyup)="getSuggestions(search.value,author.value)" #search aria-label="title" >
			</mat-form-field>
			<mat-form-field class="full-w" >
			<input matInput placeholder="Author :" (keyup)="getSuggestions(search.value,author.value)" #author aria-label="title" >
			</mat-form-field>
			<mat-divider class="my-2"></mat-divider>
			<mat-form-field class="full-w" >
	  <mat-label> Select a book </mat-label>
	  <mat-select>
  			<mat-option *ngFor="let book of suggestions" [value]="book['volumeInfo']['title']">
    			{{ book['volumeInfo']['title'] }}
  			</mat-option>
			</mat-select>
			</mat-form-field>
			<div>
				<mat-form-field class="full-w" >
				<mat-icon matPrefix class="mx-3" style="font-size : 18px " color="primary" > attach_money </mat-icon>
				<input matInput type="number" placeholder="Price :"  #price aria-label="title" >
				</mat-form-field>
				<mat-form-field class="full-w" >
				<mat-icon matPrefix class="mx-3" style="font-size : 18px " color="primary"> shopping_cart </mat-icon>
				<input matInput type="number" placeholder="Quantity :"  #price aria-label="title" >
				</mat-form-field>
				</div>
      <button mat-button mat-raised-button (click)="api = !api" class="m-2" color="primary"> <mat-icon> post_add </mat-icon> Add </button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Add a Google Book</h1>
				<p>Select a book from the API of Google books </p>
        <button mat-button mat-raised-button (click)="api = !api" class="m-2"> <mat-icon> add_box </mat-icon> New Book </button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Add a Custom Book</h1>
				<p>Enter all the book's details manually</p>
        <button mat-button mat-raised-button (click)="api = !api" class="m-2" > <mat-icon> add_box </mat-icon> New Book </button>
			</div>
		</div>
	</div>
</div>
