<div class="container" [ngClass]="{'right-panel-active': api }" id="container">

	<div class="form-container sign-up-container">
		<form form [formGroup]="BookForm" (ngSubmit)="onSubmit()">
			<h5>Custom Book</h5>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Title :"  id="title" required  name="title" formControlName="title" >
			</mat-form-field>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Subtitle :"  id="subtitle" required  name="subtitle" formControlName="subtitle">
			</mat-form-field>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Author :"  id="author" required  name="author" formControlName="author" >
			</mat-form-field>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Poster URL :"  id="poster" required  name="poster" formControlName="poster">
			</mat-form-field>
			<mat-form-field class="full-w"  >
    			<textarea matInput type="text"  placeholder="Description :"  id="description" required  name="description" formControlName="description"></textarea>
  		</mat-form-field>
			<div class="d-flex full-w ">
			<mat-form-field class="pr-1" style="width:50%">
  			<input matInput type="text" [matDatepicker]="picker" placeholder="Publishing date : " id="publishedDate" required  name="publishedDate" formControlName="publishedDate">
			  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  			<mat-datepicker touchUi #picker></mat-datepicker>
			</mat-form-field>
			<mat-form-field class="pl-1" style="width:50%" >
	 		<input matInput type="number" placeholder="Pages :"  id="pageCount" required  name="pageCount" formControlName="pageCount">
			</mat-form-field>
			</div>
			<mat-form-field class="full-w" >
	 		<input matInput type="text" placeholder="Publisher :"  id="publisher" required  name="publisher" formControlName="publisher">
			</mat-form-field>

			<div class="d-flex full-w ">
				<mat-form-field class="px-1" style="width:50%"  >
				<mat-icon matPrefix class="mx-3" style="font-size : 18px " color="primary" > attach_money </mat-icon>
				<input matInput  type="number" placeholder="Price :"  id="price" required  name="price" formControlName="price">
				</mat-form-field>
				<mat-form-field class="px-1" style="width:50%" >
				<mat-icon matPrefix class="mx-3" style="font-size : 18px " color="primary"> shopping_cart </mat-icon>
				<input matInput type="number" placeholder="Quantity :"  id="amount" required  name="amount" formControlName="amount">
				</mat-form-field>
				</div>
				<div class="list-group list-group-horizontal">
			<button mat-button mat-raised-button type="submit" [disabled]="!BookForm.valid" class="m-2" color="primary"> <mat-icon> post_add </mat-icon> Add </button>
			<button mat-button mat-raised-button type="reset" (click)="onResetCustom()" class="m-2 btn btn-secondary" color="warn" > Reset </button>
			</div>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form (ngSubmit)="addGoogleBook(f2)"  #f2="ngForm" >
			<h5>Google Book</h5>
			<mat-form-field class="full-w" >
	 		<input matInput placeholder="Title :" (keyup)="getSuggestions(search.value,author.value)" #search  >
			</mat-form-field>
			<mat-form-field class="full-w" >
			<input matInput placeholder="Author :" (keyup)="getSuggestions(search.value,author.value)" #author  >
			</mat-form-field>
			<mat-divider class="my-2"></mat-divider>
			<mat-form-field class="full-w" >
	  <mat-label> Select a book </mat-label>
	  <mat-select name="gbook" ngModel required>
  			<mat-option *ngFor="let book of suggestions"  [value]="book" >
    			{{ book['volumeInfo']['title'] }}
  			</mat-option>
			</mat-select>
			</mat-form-field>
			<div>
				<mat-form-field class="full-w" >
				<mat-icon matPrefix class="mx-3" style="font-size : 18px " color="primary" > attach_money </mat-icon>
				<input matInput type="number" placeholder="Price :"  name="price" ngModel  required >
				</mat-form-field>
				<mat-form-field class="full-w" >
				<mat-icon matPrefix class="mx-3" style="font-size : 18px " color="primary"> shopping_cart </mat-icon>
				<input matInput type="number" placeholder="Quantity :"  name="qty" ngModel  required>
				</mat-form-field>
				</div>
				<div class="list-group list-group-horizontal">
	  <button mat-button mat-raised-button class="m-2" [disabled]="f2.invalid" color="primary"> <mat-icon> post_add </mat-icon> Add </button>
	  <button mat-button mat-raised-button type="reset" (click)="onResetAPI(f2)" class="m-2 btn btn-secondary" color="warn" > Reset </button>
			</div>	
	</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Add a Google Book</h1>
				<p>Select a book from the API of Google books </p>
        <button mat-button mat-raised-button (click)="api = !api" class="m-2"> <mat-icon> add_box </mat-icon> New Book </button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Add a Custom Book</h1>
				<p>Enter all the book's details manually</p>
        <button mat-button mat-raised-button (click)="api = !api" class="m-2" > <mat-icon> add_box </mat-icon> New Book </button>
			</div>
		</div>
	</div>
</div>
