/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; background-color: #f8f9fa ;}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-w {
  width : 100% ;
}

.full-h {
  height:  100% ;
}

.p80-w {
  width : 80% ;
}

.p80-h {
  height:  80% ;
}


.blueB { border-left: 4px solid #3f51b5 ; }

.prime-text { color : #3f51b5 ; }
.danger-text { color : red ; }

.custom-dialog-container .mat-dialog-container {
 margin : 0 ;
 border-radius: 11px;
 padding : 0 ;}
